.titleDiv {
	width:100%;
	text-align:center;
}

.title1 {
	font:24px tahoma;
	padding-bottom:5px;
}

.title2 {
	font:14px tahoma;
}

.priceDivTitle {
	width:100%;
	text-align:center;
	font:18px tahoma;
	background:#C0C0C0;
	padding-top:15px;
	margin-top:10px;
}

.priceDiv {
	width:100%;
	display:flex;
	background:#C0C0C0;
}

.resDiv {
	width:25%;
}

.resDivTitle {
	text-align:center;
	font:18px tahoma;
	padding:10px 0px 10px 0px;
}

.resDivInput {
	display:flex;
	padding-bottom:10px;
	justify-content:center;
}

.tierText {
	padding:4px 10px 0px 0px;
	font:16px consolas;
}

.priceInput {
	height:20px;
	width:60px;
	resize:none;
	font:16px consolas;
}

.ppText {
	padding:4px 0px 0px 5px;
	font:16px consolas;
}

.expeditionLevel {
	text-align:center;
	font:18px tahoma;
	padding:10px 0px 10px 0px;
}

.buttonDiv {
	display:flex;
	justify-content:center;
	margin-bottom:20px;
}

.buttonControl {
	width:50%;
	height:40px;
	font:18px tahoma;
}

.buttonControl.plusButton {
	margin-left:20px;
}

.buttonControl.minusButton {
	margin-right:20px;
}

.rewardsDiv {
	width:100%;
	text-align:center;
	font:18px tahoma;
	background:#C0C0C0;
	padding-bottom:20px;
}

.cost {
	text-align:center;
	font:18px tahoma;
}

.cost.title {
	padding:10px 0px 10px 0px;
}

.cost.value {
	padding:0px 0px 10px 0px;
	padding-bottom:20px;
}

.totalCost {
	width:100%;
	text-align:center;
	font:18px tahoma;
	background:#C0C0C0;
	padding-bottom:20px;
}